<div id="nav">
<% if current_user %>
  <%= link_to "Administrator", events_path %> | 
  <%= link_to "Log out", :logout, method: :post %>  
<% else %>
<%= link_to "Login", "#loginModal", "data-toggle" => "modal" %>
<% end %>
</div>

<center>
<p id="notice"><%= notice %></p>

<h1>Make Appointment Now</h1>
<p style="display: inline-block; color: #ffffff; background-color: DodgerBlue">Available Time Slots</p>
<p style="display: inline-block; color: #ffffff; background-color: gray">Unavailable Time Slots</p>
<div id='calendar'></div>
</center>

<script>
$(document).ready(function() {
    var validator = $("#new_reservation").validate({
        submitHandler: function(form) {
            $("#fullCalModal").modal('hide');
            return true;
        },

        rules: {
            "reservation[first_name]": {
                required: true
            },
            "reservation[last_name]": {
                required: true
            },
            "reservation[email]": {
                required: true,
                email: true
            },
            "reservation[phone_number]": {
                required: true,
                phoneUS: true
            },
            "reservation[zip_code]": {
                required: true,
                digits: true,
                minlength: 5,
                maxlength: 5
            }
        },

        messages: {
            "reservation[first_name]": {
                required: "Please enter your first name"
            },
            "reservation[last_name]": {
                required: "Please enter your last name"
            },
            "reservation[email]": {
                required: "Please enter your email address",
                email: "You have entered an invalid email address. Please try again."
            },
            "reservation[phone_number]": {
                required: "Please enter your phone number",
                phoneUS: "Invalid US phone number."
            },
            "reservation[zip_code]": {
                required: "Please enter your zip code",
                digits: "You have entered an invalid zip code. Please provide the first 5 digits of your zip code.",
                minlength: "You have entered an invalid zip code. Please provide the first 5 digits of your zip code.",
                maxlenght: "You have entered an invalid zip code. Please provide the first 5 digits of your zip code."
            }
        }
    });

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: "agendaDay",
        minTime: "09:00:00",
        maxTime: "20:00:00",
        timeFormat: 'h:mm A',
        displayEventEnd:true,
        slotDuration: '00:15:00',
        height: 1090,
        eventSources: [
            {
                url: '/events/available.json'
            },

            {
                url: '/events/occupied.json',
                color: 'gray'
            }
        ],

        eventClick: function(event) {
            if (event.occupied) {
                return false;
            }
            var startTime = moment(event.start).format("MMMM Do YYYY hh:mmA");

            $('#modalTitle').html(startTime + ', 1 of 1 remain');
            $('#modalBody').h1;
            $('#eventUrl').attr('href', '/reservations/' + event.id + '/reserve');
            $('#fullCalModal #reservation_start_time').val(moment(event.start));
            $('#fullCalModal #reservation_end_time').val(moment(event.end));
            $('#fullCalModal #reservation_event_id').val(event.id);
            $('#fullCalModal').on('hidden.bs.modal', function(){
                $(this).find('form')[0].reset();
                validator.resetForm();
             });
            $('#fullCalModal').modal();
            return false;
        },

        eventRender: function(event, element) {
            element.find('.fc-title').text(' ');
        }
    });
});
</script>

<div id="loginModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="myModalLabel">Log In</h4>
            </div>

            <%= form_tag user_sessions_path, :method => :post do %>
              <div id="modalBody" class="modal-body">
                <div class="field">
                    <%= label_tag :email, "User:" %></br> 
                    <%= text_field_tag :email %>
                </div>
                <div class="field">
                    <%= label_tag :password, "Password:" %></br>
                    <%= password_field_tag :password %>
                </div>
              </div>
              
              <div class="modal-footer">
                <%= submit_tag "Login", class: "btn btn-large btn-primary" %>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>

            <% end %>
        </div>
    </div>
</div>

<div id="fullCalModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>

            <center><h1>Appointment</h1></center>
            <%= form_for @reservation, :html => {:class => "form-horizontal center"} do |f| %>
            	<div id="modalBody" class="modal-body">
            	    
                    <div class="form-group">
                        <%= f.label :first_name, "First Name:", class: "col-md-4 control-label" %>
                        <div class="col-md-8">
                            <%= f.text_field :first_name, class: "form-control" %>
                        </div>
                    </div>
  					
  					<div class="form-group">
                        <%= f.label :last_name, "Last Name:", class: "col-md-4 control-label" %>
                        <div class="col-md-8">
                            <%= f.text_field :last_name, class: "form-control" %>
                        </div>
                    </div>
  
  					<div class="form-group">
                        <%= f.label :email, "Email Address:", class: "col-md-4 control-label" %>
                        <div class="col-md-8">
                            <%= f.text_field :email, class: "form-control" %>
                        </div>
                    </div>

  					<div class="form-group">
                        <%= f.label :phone_number, "Phone Number:", class: "col-md-4 control-label" %>
                        <div class="col-md-8">
                            <%= f.text_field :phone_number, class: "form-control" %>
                        </div>
                    </div>

  					<div class="form-group">
                        <%= f.label :zip_code, "Zip Code:", class: "col-md-4 control-label" %>
                        <div class="col-md-8">
                            <%= f.text_field :zip_code, class: "form-control" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <%= f.hidden_field :start_time %>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <%= f.hidden_field :end_time %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-8">
                            <%= f.hidden_field :event_id %>
                        </div>
                    </div>

  				</div>
  				<div class="modal-footer">
                	<%= f.submit 'Reserve', :class => 'btn btn-primary', :id => 'submitButton' %>
                	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            	</div>
			<% end %>   
        </div>
    </div>
</div>