<%= form_for @user, :html => {:class => "form-horizontal center", :id => "profileForm"} do |f| %>
  <div id="modalBody" class="modal-body">
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-md-8">
          <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, "New Password", class: "col-md-4 control-label" %>
      <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation", class: "col-md-4 control-label" %>
      <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
        
  </div>
  
  <div class="modal-footer">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
<% end %>