<%= link_to 'Back', '/events' %>
<center><h1>All Clients Today</h1>
<table>
  <tr>
    <th style="padding:0 15px 0 15px;">Id</th>
    <th style="padding:0 15px 0 15px;">Test</th>
    <th style="padding:0 15px 0 15px;">Client Name</th>
    <th style="padding:0 15px 0 15px;">From</th>
    <th style="padding:0 15px 0 15px;">To</th>
    <th style="padding:0 15px 0 15px;">Email</th>
    <th style="padding:0 15px 0 15px;">Phone Number</th>
    <th style="padding:0 15px 0 15px;">Zip Code</th>
    <th style="padding:0 15px 0 15px;">Show Up</th>
    <th style="padding:0 15px 0 15px;">Tester</th>
    <th style="padding:0 15px 0 15px;">Comment</th>
  </tr>
  
  <% @events.each_with_index do |event, index| %>
  <tr>
  <%= form_for(event.reservation) do |f| %>
    <td style="padding:0 15px 0 15px;"><%= index + 1 %></td>
    <td style="padding:0 15px 0 15px;"><%= event.title %></td>
    <td style="padding:0 15px 0 15px;"><%= event.reservation.first_name %> <%= event.reservation.last_name %></td>
    <td style="padding:0 15px 0 15px;"><%= event.start_time %></td>
    <td style="padding:0 15px 0 15px;"><%= event.end_time %></td>
    <td style="padding:0 15px 0 15px;"><%= event.reservation.email %></td>
    <td style="padding:0 15px 0 15px;"><%= event.reservation.phone_number %></td>
    <td style="padding:0 15px 0 15px;"><%= event.reservation.zip_code %></td>
    <td style="padding:0 15px 0 15px;"><%= f.check_box :showup %></td>
    <td style="padding:0 15px 0 15px;"><%= f.text_field :tester %></td>
    <td style="padding:0 15px 0 15px;"><%= f.text_field :comment %></td>
    <td><%= f.submit 'Save' %></td>
  <% end %>
  </tr>
  <% end %>
</table>
</center>