<center>
<div id="nav">
<% if current_user %>
  <%= link_to "Home", root_path %> | 
  <%= link_to "Today Clients", clients_events_path %> | 
  <%= link_to "All Data", rails_admin_path %> | 
  <%= link_to "Delete Events", "#deleteModal", "data-toggle" => "modal" %> | 
  <%= link_to "Test Results", tests_path %> | 
  <%= link_to "Edit Profile", edit_user_path(current_user.id), remote: true %> | 
  <%= link_to "Register new admin user", "#registerModal", "data-toggle" => "modal" %> | 
  <%= link_to "Log out", :logout, method: :post %>
<% end %>
</div>

<h1>Administrator</h1>
<p style="display: inline-block; color: #ffffff; background-color: DodgerBlue">Available Time Slots</p>
<p style="display: inline-block; color: #ffffff; background-color: gray">Unavailable Time Slots</p>
<div id='calendarEvents'></div>
</center>
<div id="profileModal" class="modal fade" tabindex='-1'></div>

<script>
  $(document).ready(function() {
    var validator = $("#new_user").validate({
        onfocusout: false,
        onkeyup: false,
        onclick: false,
        submitHandler: function(form) {
            $("#registerModal").modal('hide');
            return true;
        },

        rules: {
            "user[email]": {
                required: true,
                email: true
            },
            "user[password]": {
                required: true,
                minlength: 5
            },
            "user[password_confirmation]": {
                required: true,
                minlength: 5,
                equalTo: "#user_password"
            }
        },

        messages: {
            "user[email]": {
                required: "Please enter your email address",
                email: "You have entered an invalid email address. Please try again."
            },
            "user[password]": {
                required: "Please enter your password",
                minlength: "Password should be longer than 5 digits",
            },
            "user[password_confirmation]": {
                required: "Please re-enter your password",
                equalTo: "Password does not match"
            }
        }
    });
    $('#registerModal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
        $('#registerModal .error').remove();
    });

    $('#deleteForm').submit(function() {
      $('#deleteModal').modal('hide');
      $('#loadModal').modal({
        backdrop: 'static',
        keyboard: false
      });
      $.ajax ({
        url: "<%= delete_all_events_path %>",
        type: "POST",
        data: { 
          delete_time_start: $("#delete_time_start").val(), 
          delete_time_end  : $("#delete_time_end").val()
        },

        success: function() {
          location.reload();
        }
      });
      return false;
    });
    
    $('#submitButton').on('click', function() {
      $('#eventCalModal').modal('hide');
      $('#loadModal').modal({
        backdrop: 'static',
        keyboard: false
      });
      
      $.ajax ({
          url: "<%= events_path %>",
          type: "POST",
          data: { 
            "event[title]": $("#event_title").val(),
            "event[description]": $("#event_description").val(),
            start_time: $("#start_time").val(),
            end_time: $("#end_time").val(),
            "event[exception]": $("#event_exception").val(),
            "event[except_time_start]": $("#datetimepicker4").val(),
            "event[except_time_end]": $("#datetimepicker5").val(),
            "event[repeat]": $("#event_repeat").val(),
            "event[replicate]": $("#event_replicate").val(),
            "event[stop_time]": $("#event_stop_time").val(),
            "event[occupied]": $('#event_occupied').val()
          },
          success: function() {
            location.reload();
          }
      });
      return false;
    });

    var dateNow = new Date();
    $('#datetimepicker1').datetimepicker({
      format: 'YYYY - MM - DD',
      defaultDate:dateNow
    });
    $('#datetimepicker2').datetimepicker({
      format: 'YYYY - MM - DD',
      defaultDate:dateNow
    });
    
    $('#deleteModal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
     });
    $('#deleteModal').on('show.bs.modal', function(){
        $('#deleteCancelBnt').button('reset');
        $('#deleteButton').button('reset');
        $('#deleteModal #delete_time_start').val(moment(dateNow).format('YYYY - MM - DD'));
        $('#deleteModal #delete_time_end').val(moment(dateNow).format('YYYY - MM - DD'));
     });

    var validator = $("#new_event").validate({
      submitHandler: function(form) {
          $("#eventCalModal").modal('hide');
          return true;
      },

      rules: {
          "event[title]": {
              required: true
          },
          "event[description]": {
              required: true
          }
      },

      messages: {
          "event[title]": {
              required: "Please enter event title"
          },
          "event[description]": {
              required: "Please enter event description"
          }
      }
    });

    $('#calendarEvents').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        defaultView: "agendaWeek",
        minTime: "09:00:00",
        maxTime: "20:00:00",
        timeFormat: 'h:mm A',
        displayEventEnd:true,
        slotDuration: '00:15:00',
        height: 1090,
        eventSources: [
          {
            url: "<%= available_events_path %>"
          },

          {
            url: "<%= occupied_events_path %>",
            color: 'gray'
          }
        ],

        select: function(start, end, allDay, view) {
          $('#datetimepicker3').datetimepicker({
            format: 'YYYY - MM - DD',
            defaultDate:dateNow
          });

          twelve_oclock = new Date(moment("12:00 PM", "hh:mm A"));
          thirteen_oclock = new Date(moment("01:00 PM", "hh:mm A"));

          
          if (view.name == "month") {
            start.hour(9);
            start_time = moment(start).format("YYYY - MM - DD hh:mm A");

            end.dayOfYear(end.dayOfYear() - 1)
            end.hour(20);
            end_time = moment(end).format("YYYY - MM - DD hh:mm A");
          }
          else {
            start_time = moment(start).format("YYYY - MM - DD hh:mm A");
            end_time = moment(end).format("YYYY - MM - DD hh:mm A");
          }

          default_start = moment(start_time, "YYYY - MM - DD hh:mm A");
          default_end = moment(end_time, "YYYY - MM - DD hh:mm A");

          $('#datetimepicker4').datetimepicker({
            format: 'hh:mm A',
            defaultDate:twelve_oclock
          });
          $('#datetimepicker5').datetimepicker({
            format: 'hh:mm A',
            defaultDate:thirteen_oclock
          });
          $('#datetimepicker6').datetimepicker({
            date: default_start,
            format: 'YYYY - MM - DD hh:mm A',
            sideBySide: true  
          });
          $('#datetimepicker7').datetimepicker({
            minDate: default_start,
            date: default_end,
            format: 'YYYY - MM - DD hh:mm A',
            sideBySide: true  
          });

          $('#eventCalModal').modal('show');
          $('#eventCalModal').on('hidden.bs.modal', function(){
              $(this).find('form')[0].reset();
              $('#except_time').hide();
              validator.resetForm();
           });

          $('#eventCalModal #event_occupied').val(false);
          $('#eventCalModal #event_title').val("STD/HIV Test");
          $('#eventCalModal #event_description').val("Anything You Want To Put Here");

          $('#eventCalModal #start_time').val(start_time);
          $('#eventCalModal #end_time').val(end_time);
          $('#datetimepicker4').data("DateTimePicker").date(twelve_oclock);
          $('#datetimepicker5').data("DateTimePicker").date(thirteen_oclock);
          $('#datetimepicker6').data("DateTimePicker").date(start_time);
          $('#datetimepicker7').data("DateTimePicker").date(end_time);
        },

        eventClick: function(event, jsEvent, view) {
          var st = moment(event.start).format("hh:mmA, MMMM Do, YYYY");
          var et = moment(event.end).format("hh:mmA, MMMM Do, YYYY");

          if (event.occupied) {
            $.ajax({
              url: "/events/" + event.id + "/reservation_info",
              type: "GET",
              success: function(data){
                $("#reservation_modal_container").html(data);
                $('#reservationModal #modalTitle2').html(st + ', Already Taken');
                $("#reservationModal").modal("show");
              }
            }); 
          }
          else {
            $.ajax({
              url: "/events/" + event.id + "/reservation_without_info",
              type: "GET",
              success: function(data){
                $("#reservation_modal_container2").html(data);
                $('#reservationModal2 #modalTitle2').html(st + ', Available');
                $("#reservationModal2").modal("show");
              }
            });
          }

          return false;
        },

        eventRender: function(event, element) {
          element.find('.fc-title').text(' ');
        }
    });
  });
</script>

<div id="reservation_modal_container"></div>
<div id="reservation_modal_container2"></div>

<div id="registerModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="myModalLabel">New User</h4>
            </div>

            <%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
              <div id="modalBody" class="modal-body">
                <div class="form-group">
                  <%= f.label :email, class: "col-md-4 control-label" %>
                  <div class="col-md-8">
                      <%= f.text_field :email, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password, class: "col-md-4 control-label" %>
                  <div class="col-md-8">
                      <%= f.password_field :password, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, class: "col-md-4 control-label" %>
                  <div class="col-md-8">
                      <%= f.password_field :password_confirmation, class: "form-control" %>
                  </div>
                </div>
                    
              </div>
              
              <div class="modal-footer">
                  <%= f.submit 'Register', :class => 'btn btn-primary' %>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>

            <% end %>
        </div>
    </div>
</div>

<div id="loadModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="loadHeader">
              <h3><span class='spinner'></span>    Loading, Please Wait...</h3>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="myModalLabel">Events Deletion</h4>
            </div>

            <%= form_tag delete_all_events_path, :class => "form-inline", :id => "deleteForm" do %>
              <div id="modalBody" class="modal-body">
                <div class="form-group">
                  <%= label_tag "Delere All Events From:" %></br>
                  <div class='input-group date' id='datetimepicker1'>
                    <%= text_field_tag :delete_time_start, params[:delete_time_start], class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <%= label_tag "To:" %></br>
                  <div class='input-group date' id='datetimepicker2'>
                    <%= text_field_tag :delete_time_end, params[:delete_time_end], class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                  </div>
                </div>
                    
              </div>
              
              <div class="modal-footer">
                <%= submit_tag "Delete", :id => 'deleteButton', class: "btn btn-large btn-primary", data: { confirm: 'Are you sure?' } %>
                <button id="deleteCancelBnt"class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>

            <% end %>
        </div>
    </div>
</div>

<div id="eventCalModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">Create New Events</h4>
            </div>

            <center><h2>New Event</h2></center>
            <%= form_for @eventN, :id => "eventForm", :html => {:class => "form-horizontal center"} do |f| %>
              <div id="modalBody" class="modal-body">
                  
                  <div class="form-group">
                      <%= f.label :title, "Title:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.text_field :title, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.text_field :description, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :start_time, "Start at:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                        <div class='input-group date' id='datetimepicker6'>
                          <%=f.text_field :start_time, class: "form-control", id: "start_time", name: "start_time" %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                   </div>

                  <div class="form-group">
                      <%= f.label :end_time, "End at:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                        <div class='input-group date' id="datetimepicker7" >
                          <%=f.text_field :end_time, class: "form-control", id: "end_time", name: "end_time" %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <%=f.label :exception, "Except", class: "col-md-4 control-label"%>
                    <div class="col-md-8">
                      <%=f.check_box :exception, :onchange => "showException(this.checked);" %>
                    </div>
                  </div>

                  <div id = "except_time" style = "display:none;" class="form-group">
                    <%=f.label :except_time, "No Events During:", class: "col-md-4 control-label" %>
                    <div class="col-sm-8">
                        <%=f.text_field :except_time_start, class: "form-control", id: "datetimepicker4" %><b> ~ </b>
                        <%=f.text_field :except_time_end, class: "form-control", id: "datetimepicker5" %>
                    </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :repeat, "Repeats", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.select :repeat, Event::REPEATS, {}, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :replicate, "Replication", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.select :replicate, Event::REPLICATES, {}, :onchange => "showReplication(this.value);", class: "form-control" %>
                      </div>
                  </div>

                  <div id = "stop_time" style = "display:none;" class="form-group">
                    <%=f.label :stop_time, "Until:", class: "col-md-4 control-label" %>
                    <div class="col-md-8">
                      <div class='input-group date' id='datetimepicker3'>
                        <%=f.text_field :stop_time, class: "form-control" %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </div> 
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="col-md-8">
                          <%= f.hidden_field :occupied %>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <%= f.submit 'Create', :class => 'btn btn-primary', :id => 'submitButton' %>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            <% end %>   
        </div>
    </div>
</div>