<div id="nav">
<% if current_user %>
  <%= link_to "Home", root_path %> | 
  <%= link_to "Register", new_user_path %> | 
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %> | 
  <%= link_to "Today Clients", clients_events_path %> | 
  <%= link_to "All Data", rails_admin_path %> | 
  <%= link_to "Delete Events", "#deleteModal", "data-toggle" => "modal" %> | 
  <%= link_to "Log out", :logout, method: :post %>
<% end %>
</div>

<center>
<h1>Administrator</h1>
<p style="display: inline-block; color: #ffffff; background-color: DodgerBlue">Available Time Slots</p>
<p style="display: inline-block; color: #ffffff; background-color: gray">Unavailable Time Slots</p>
<div id='calendarEvents'></div>
</center>

<script>

  $(document).ready(function() {
    var dateNow = new Date();
    $('#datetimepicker1').datetimepicker({
      format: 'YYYY - MM - DD',
      defaultDate:dateNow
    });
    $('#datetimepicker2').datetimepicker({
      format: 'YYYY - MM - DD',
      defaultDate:dateNow
    });
    
    $('#deleteModal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
     });
    $('#deleteModal').on('show.bs.modal', function(){
        $('#deleteModal #delete_time_start').val(moment(dateNow).format('YYYY - MM - DD'));
        $('#deleteModal #delete_time_end').val(moment(dateNow).format('YYYY - MM - DD'));
     });

    var validator = $("#new_event").validate({
      submitHandler: function(form) {
          $("#eventCalModal").modal('hide');
          return true;
      },

      rules: {
          "event[title]": {
              required: true
          },
          "event[description]": {
              required: true
          }
      },

      messages: {
          "event[title]": {
              required: "Please enter event title"
          },
          "event[description]": {
              required: "Please enter event description"
          }
      }
    });

    $('#calendarEvents').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        defaultView: "agendaWeek",
        minTime: "09:00:00",
        maxTime: "20:00:00",
        timeFormat: 'h:mm A',
        displayEventEnd:true,
        slotDuration: '00:15:00',
        height: 1090,
        eventSources: [
          {
            url: '/events/available.json'
          },

          {
            url: '/events/occupied.json',
            color: 'gray'
          }
        ],

        select: function(start, end, allDay, view) {
          $('#datetimepicker3').datetimepicker({
            format: 'YYYY - MM - DD',
            defaultDate:dateNow
          });

          twelve_oclock = new Date(moment("12:00 PM", "hh:mm A"));
          thirteen_oclock = new Date(moment("01:00 PM", "hh:mm A"));

          
          if (view.name == "month") {
            start.hour(9);
            start_time = moment(start).format("YYYY - MM - DD hh:mm A");

            end.dayOfYear(end.dayOfYear() - 1)
            end.hour(20);
            end_time = moment(end).format("YYYY - MM - DD hh:mm A");
          }
          else {
            start_time = moment(start).format("YYYY - MM - DD hh:mm A");
            end_time = moment(end).format("YYYY - MM - DD hh:mm A");
          }

          default_start = moment(start_time, "YYYY - MM - DD hh:mm A");
          default_end = moment(end_time, "YYYY - MM - DD hh:mm A");

          $('#datetimepicker4').datetimepicker({
            format: 'hh:mm A',
            defaultDate:twelve_oclock
          });
          $('#datetimepicker5').datetimepicker({
            format: 'hh:mm A',
            defaultDate:thirteen_oclock
          });
          $('#datetimepicker6').datetimepicker({
            date: default_start,
            format: 'YYYY - MM - DD hh:mm A',
            sideBySide: true  
          });
          $('#datetimepicker7').datetimepicker({
            minDate: default_start,
            date: default_end,
            format: 'YYYY - MM - DD hh:mm A',
            sideBySide: true  
          });

          $('#eventCalModal').modal('show');
          $('#eventCalModal').on('hidden.bs.modal', function(){
              $(this).find('form')[0].reset();
              $('#except_time').hide();
              validator.resetForm();
           });

          $('#eventCalModal #event_occupied').val(false);
          $('#eventCalModal #event_title').val("STD/HIV Test");
          $('#eventCalModal #event_description').val("Anything You Want To Put Here");

          $('#eventCalModal #start_time').val(start_time);
          $('#eventCalModal #end_time').val(end_time);
          $('#datetimepicker4').data("DateTimePicker").date(twelve_oclock);
          $('#datetimepicker5').data("DateTimePicker").date(thirteen_oclock);
          $('#datetimepicker6').data("DateTimePicker").date(start_time);
          $('#datetimepicker7').data("DateTimePicker").date(end_time);
        },

        eventClick: function(event, jsEvent, view) {
          var st = moment(event.start).format("hh:mmA, MMMM Do, YYYY");
          var et = moment(event.end).format("hh:mmA, MMMM Do, YYYY");

          if (event.occupied) {
            $.ajax({
              url: "/events/" + event.id + "/reservation_info",
              type: "GET",
              success: function(data){
                $("#reservation_modal_container").html(data);
                $('#reservationModal #modalTitle2').html(st + ', Already Taken');
                $("#reservationModal").modal("show");
              }
            }); 
          }
          else {
            $.ajax({
              url: "/events/" + event.id + "/reservation_without_info",
              type: "GET",
              success: function(data){
                $("#reservation_modal_container2").html(data);
                $('#reservationModal2 #modalTitle2').html(st + ', Available');
                $("#reservationModal2").modal("show");
              }
            });
          }

          return false;
        },

        eventRender: function(event, element) {
          element.find('.fc-title').text(' ');
        }
    });
  });
</script>

<div id="reservation_modal_container"></div>
<div id="reservation_modal_container2"></div>

<div id="deleteModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="myModalLabel">Events Deletion</h4>
            </div>

            <%= form_tag delete_all_events_path, :class => "form-inline" do %>
              <div id="modalBody" class="modal-body">
                <div class="form-group">
                  <%= label_tag "Delere All Events From:" %></br>
                  <div class='input-group date' id='datetimepicker1'>
                    <%= text_field_tag :delete_time_start, params[:delete_time_start], class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                  </div>
                </div>

                <div class="form-group">
                  <%= label_tag "To:" %></br>
                  <div class='input-group date' id='datetimepicker2'>
                    <%= text_field_tag :delete_time_end, params[:delete_time_end], class: "form-control" %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                  </div>
                </div>
                    
              </div>
              
              <div class="modal-footer">
                <%= submit_tag "Delete", class: "btn btn-large btn-primary", data: { confirm: 'Are you sure?' } %>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>

            <% end %>
        </div>
    </div>
</div>

<div id="eventCalModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title">Create New Events</h4>
            </div>

            <center><h2>New Event</h2></center>
            <%= form_for @eventN, :html => {:class => "form-horizontal center"} do |f| %>
              <div id="modalBody" class="modal-body">
                  
                  <div class="form-group">
                      <%= f.label :title, "Title:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.text_field :title, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.text_field :description, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :start_time, "Start at:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                        <div class='input-group date' id='datetimepicker6'>
                          <%=f.text_field :start_time, class: "form-control", id: "start_time", name: "start_time" %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                   </div>

                  <div class="form-group">
                      <%= f.label :end_time, "End at:", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                        <div class='input-group date' id="datetimepicker7" >
                          <%=f.text_field :end_time, class: "form-control", id: "end_time", name: "end_time" %>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                  </div>

                  <div class="form-group">
                    <%=f.label :exception, "Except", class: "col-md-4 control-label"%>
                    <div class="col-md-8">
                      <%=f.check_box :exception, :onchange => "showException(this.checked);" %>
                    </div>
                  </div>

                  <div id = "except_time" style = "display:none;" class="form-group">
                    <%=f.label :except_time, "No Events During:", class: "col-md-4 control-label" %>
                    <div class="col-sm-8">
                        <%=f.text_field :except_time_start, class: "form-control", id: "datetimepicker4" %><b> ~ </b>
                        <%=f.text_field :except_time_end, class: "form-control", id: "datetimepicker5" %>
                    </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :repeat, "Repeats", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.select :repeat, Event::REPEATS, {}, class: "form-control" %>
                      </div>
                  </div>

                  <div class="form-group">
                      <%= f.label :replicate, "Replication", class: "col-md-4 control-label" %>
                      <div class="col-md-8">
                          <%= f.select :replicate, Event::REPLICATES, {}, :onchange => "showReplication(this.value);", class: "form-control" %>
                      </div>
                  </div>

                  <div id = "stop_time" style = "display:none;" class="form-group">
                    <%=f.label :stop_time, "Until:", class: "col-md-4 control-label" %>
                    <div class="col-md-8">
                      <div class='input-group date' id='datetimepicker3'>
                        <%=f.text_field :stop_time, class: "form-control" %>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </div> 
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="col-md-8">
                          <%= f.hidden_field :occupied %>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <%= f.submit 'Create', :class => 'btn btn-primary', :id => 'submitButton' %>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            <% end %>   
        </div>
    </div>
</div>

