<!-- modal used to get inforamtion of free appointments -->
<div id="reservationModal2"  class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle2" class="modal-title"></h4>
            </div>
              <div id="modalBody2" class="modal-body">
                  
                  <div class="control-group">
                    <label class="control-label" for="title">Title: </label> <%= @event.title %>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="description">Description: </label> <%= @event.description %>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="from">From: </label> <%= @event.start_time.to_s(:full_time) %>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="To">To: </label> <%= @event.end_time.to_s(:full_time) %>
                  </div>
              </div>
              
              <div class="modal-footer">
                <%= link_to 'Delete',  @event,  :class => "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>  
        </div>
    </div>
</div>