<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Test Result</Data></Cell>
        <Cell><Data ss:Type="String">CT</Data></Cell>
        <Cell><Data ss:Type="String">NG</Data></Cell>
        <Cell><Data ss:Type="String">Start Time</Data></Cell>
        <Cell><Data ss:Type="String">End Time</Data></Cell>
      </Row>>

    <% @download.each do |test| %>
      <Row>
        <Cell><Data ss:Type="String"><%= test.testId %></Data></Cell>
        <Cell><Data ss:Type="String"><%= test.result %></Data></Cell>
        <Cell><Data ss:Type="String"><%= test.CT %></Data></Cell>
        <Cell><Data ss:Type="String"><%= test.NG %></Data></Cell>
        <Cell><Data ss:Type="String"><%= test.start_at.to_s(:full_time) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= test.end_at.to_s(:full_time) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>