<div id="navPadding"></div>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
        <%= link_to root_path, :class => "navbar-brand" do %>
          <span><%= image_tag "home.png", :style => "vertical-align: bottom; width: 25px;" %>Home</span>
        <% end %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to events_path do %>
            <span><%= image_tag "back.png", :style => "vertical-align: sub; width: 24px;" %> Back</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#uploadModal", "data-toggle" => "modal" do %>
            <span><%= image_tag "upload.png", :style => "vertical-align: text-bottom; width: 22px;" %> Upload Test Result</span>
          <% end %>
        </li>

        <li>
          <%= link_to test_result_files_path do %>
            <span><%= image_tag "result.png", :style => "vertical-align: sub; width: 22px;" %> View All Files</span>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user">
              <span><%= image_tag "user.png", :style => "vertical-align: bottom; width: 26px;" %> User</span>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="download">
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id), remote: true %></li>
            <li class="divider"></li>
            <li><%= link_to "Register new admin user", "#registerModal", "data-toggle" => "modal" %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", :logout, method: :post %></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

<center>
  <h1 style="margin-top: 60px;">Test Result</h1>
  <table class="table table-striped">
    <tr>
      <th style="padding:0 60px 0 60px;"><%= sortable "id" %></th>
      <th style="padding:0 60px 0 60px;"><%= sortable "Test Result" %></th>
      <th style="padding:0 60px 0 60px;"><%= sortable "CT" %></th>
      <th style="padding:0 60px 0 60px;"><%= sortable "NG" %></th>
      <th style="padding:0 60px 0 60px;"><%= sortable "start_at", "Start Time" %></th>
      <th style="padding:0 60px 0 60px;"><%= sortable "end_at", "End Time" %></th>
    </tr>

    <% @tests.each_with_index do |t| %>
    <tr>
      <td style="padding:0 60px 0 60px;"><%= t.testId %></td>
      <td style="padding:0 60px 0 60px;"><%= t.result %></td>
      <td style="padding:0 60px 0 60px;"><%= t.CT %></td>
      <td style="padding:0 60px 0 60px;"><%= t.NG %></td>
      <td style="padding:0 60px 0 60px;"><%= t.start_at.to_s(:full_time) %></td>
      <td style="padding:0 60px 0 60px;"><%= t.end_at.to_s(:full_time) %></td>
    </tr>
  <% end %>
  </table>
  <nav>
    <%= paginate @tests, :outer_window => 5 %>
  </nav>
</body>

<div id="uploadModal" class="modal fade" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="myModalLabel">Upload New Test Result</h4>
            </div>
            <%= form_for @file, :html => {:class => "form-horizontal center"} do |f| %>
              <div id="modalBody" class="modal-body">
                <div class="form-group">
                  <%= f.label :result, "File", class: "col-md-4 control-label" %>
                  <div class="col-md-8">
                      <%= f.file_field :result %>
                  </div>
                </div>
                    
              </div>
              
              <div class="modal-footer">
                  <%= f.submit 'Upload', :class => 'btn btn-primary' %>
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            <% end %>
        </div>
    </div>
</center>