<!DOCTYPE html>
<html>
<head>
  <title>Appointment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="alert-messages alert_messages" id="message_drawer">
  <% flash.each do |key, value| %>
    <div class="message">
      <div class="message-inside">
        <span class="message-text"><%= value %></span>
        <a class='dismiss' href='javascript:;'>×</a>
      </div>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
